<launch>
    <arg name="model" default="$(find autonomous_car)/urdf/mobile_robot.urdf.xacro"/> 
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find autonomous_car)/rviz/robot_display.rviz"/>
</launch>