<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobile_robot_description">
    <transmission name="right_wheel_transmition">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="right_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_wheel_motor">
            <mechanicalReduction>1.0</mechanicalReduction>
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </actuator>
    </transmission>

    <transmission name="left_wheel_transmition">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="left_wheel_joint">
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_wheel_motor">
            <mechanicalReduction>1.0</mechanicalReduction>
            <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
        </actuator>
    </transmission>

    <gazebo refrence="right_wheel">
        <mu1>100000000000000</mu1>
        <mu2>100000000000000</mu2>
        <kp>1000000000000</kp>
        <kd>10</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <gazebo refrence="left_wheel">
        <mu1>100000000000000</mu1>
        <mu2>100000000000000</mu2>
        <kp>1000000000000</kp>
        <kd>10</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <gazebo refrence="left_back_wheel">
        <mu1>100000000000000</mu1>
        <mu2>100000000000000</mu2>
        <kp>1000000000000</kp>
        <kd>10</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <gazebo refrence="right_back_wheel">
        <mu1>100000000000000</mu1>
        <mu2>100000000000000</mu2>
        <kp>1000000000000</kp>
        <kd>10</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.1</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <!-- camera sensor plugin -->
    <gazebo reference="camera_sensor_link">
      <sensor name="depth_camera" type="camera">
        <always_on>true</always_on>
        <visualize>false</visualize>
        <update_rate>5</update_rate>
        <camera name="camera">
          <horizontal_fov>1.02974</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>10</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="depth_camera_controller" filename="libgazebo_ros_camera.so">
          <camera_name>depth_camera</camera_name>
          <frame_name>camera_sensor_link</frame_name>
          <hack_baseline>0</hack_baseline>
          <min_depth>0.001</min_depth>
        </plugin>
      </sensor>
          <!-- <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>0.0</updateRate>
            <cameraName>/mobile_robot_description/camera1</cameraName>
            <imageTopicName>image_raw</imageTopicName>
            <cameraInfoTopicName>camera_info</cameraInfoTopicName>
            <frameName>camera_sensor_link</frameName>
            <hackBaseline>0.07</hackBaseline>
            <distortionK1>0.0</distortionK1>
            <distortionK2>0.0</distortionK2>
            <distortionK3>0.0</distortionK3>
            <distortionT1>0.0</distortionT1>
            <distortionT2>0.0</distortionT2>
          </plugin> -->
    </gazebo>
    
    <!-- IMU sensor plugin -->
    <gazebo reference="IMU_sensor_link">
      <gravity>true</gravity>
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>__default_topic__</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>imu</topicName>
          <bodyName>imu_link</bodyName>
          <updateRateHZ>100.0</updateRateHZ>
          <gaussianNoise>0.00001</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>imu_link</frameName>
          <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>

</robot>
