<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobile_robot_description">
  <transmission name="right_wheel_transmition">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_wheel_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="right_wheel_motor">
        <mechanicalReduction>1.0</mechanicalReduction>
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </actuator>
</transmission>

<transmission name="left_wheel_transmition">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_wheel_joint">
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </joint>
    <actuator name="left_wheel_motor">
        <mechanicalReduction>1.0</mechanicalReduction>
        <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
    </actuator>
</transmission>


    <gazebo reference="right_wheel">
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
        <kp>1000000</kp>
        <kd>1000</kd>
        <minDepth>0.001</minDepth>
        <maxVel>3</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <gazebo reference="left_wheel">
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
        <kp>1000000</kp>
        <kd>1000</kd>
        <minDepth>0.001</minDepth>
        <maxVel>3</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <gazebo reference="left_back_wheel">
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
        <kp>1000000</kp>
        <kd>1000</kd>
        <minDepth>0.001</minDepth>
        <maxVel>3</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <gazebo reference="right_back_wheel">
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
        <kp>1000000</kp>
        <kd>1000</kd>
        <minDepth>0.001</minDepth>
        <maxVel>3</maxVel>
        <fdir>1 0 0</fdir>
    </gazebo>

    <!-- camera sensor plugin -->
    <gazebo reference="camera_sensor_link">
      <sensor name="depth_camera" type="depth">
        <update_rate>20</update_rate>
        <camera>
          <horizontal_fov>1.047200</horizontal_fov>
          <image>
            <width>800</width>
            <height>600</height> 
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>500</far>
          </clip>
        </camera>
        <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.2</baseline>
          <alwaysOn>true</alwaysOn>
          <updateRate>1.0</updateRate>
          <cameraName>depth_camera_ir</cameraName>
          <imageTopicName>/depth_camera/color/image_raw</imageTopicName>
          <cameraInfoTopicName>/depth_camera/color/camera_info</cameraInfoTopicName>
          <depthImageTopicName>/depth_camera/depth/image_raw</depthImageTopicName>
          <depthImageInfoTopicName>/depth_camera/depth/camera_info</depthImageInfoTopicName>
          <pointCloudTopicName>/depth_camera/depth/points</pointCloudTopicName>
          <frameName>camera_sensor_link</frameName>
          <pointCloudCutoff>0.5</pointCloudCutoff>
          <pointCloudCutoffMax>500.0</pointCloudCutoffMax>
          <distortionK1>0.00000001</distortionK1>
          <distortionK2>0.00000001</distortionK2>
          <distortionK3>0.00000001</distortionK3>
          <distortionT1>0.00000001</distortionT1>
          <distortionT2>0.00000001</distortionT2>
          <Cx>400</Cx>
          <Cy>300</Cy>
          <focalLength>692.818364</focalLength>
          <hackBaseline>0</hackBaseline>
        </plugin>
      </sensor>
    </gazebo>
    
    
    <!-- IMU sensor plugin -->
    <gazebo reference="IMU_sensor_link">
      <gravity>true</gravity>
      <sensor name="imu_sensor" type="imu">
        <always_on>true</always_on>
        <update_rate>100</update_rate>
        <visualize>true</visualize>
        <topic>__default_topic__</topic>
        <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
          <topicName>imu</topicName>
          <bodyName>imu_link</bodyName>
          <updateRateHZ>100.0</updateRateHZ>
          <gaussianNoise>0.00001</gaussianNoise>
          <xyzOffset>0 0 0</xyzOffset>
          <rpyOffset>0 0 0</rpyOffset>
          <frameName>imu_link</frameName>
          <initialOrientationAsReference>false</initialOrientationAsReference>
        </plugin>
        <pose>0 0 0 0 0 0</pose>
      </sensor>
    </gazebo>

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>
</robot>
